

# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
DATABASE_URL="mongodb://127.0.0.1:27017/vendors?ssl=false&connectTimeoutMS=5000&maxPoolSize=50"
NODE_ENV='development'
DATABASE_PORT='27107'
# DATABASE_IN_MEMORY=true
DATABASE_DBNAME='vendors'
# DATABASE_USER=
# DATABASE_PASS=
CONTENT_STACK_ENVIRONMENT='dev-sandbox'
VERSION='0.0.1'